.bg-custom{
	background-color: #6a1b9a; 
}
.navbar .nav-item .nav-link{
	font-size: 20px !important;
	color: white;
}
.navbar-custom .navbar-nav .nav-item:hover .nav-link {
    background-color: white !important;
    color: black !important;
    border-radius: 10px;
}
